<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색결과</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<h2 style="text-align: center">검색결과</h2>

<div class="input-group" style="display: inline;width: auto;margin-left: 650px">
    <select class="form-select form-select-lg"
            style="display: inline; width: 150px; font-size: inherit;height: 50px;"
            aria-expanded="false" id="searchName">
        <option value="" selected>전체 검색</option>
        <option value="boardTitle">제목검색</option>
        <option value="boardWriter">작성자검색</option>
    </select>
    <input type="text" class="form-control"
           style="display: inline; width: 300px; height: 50px; text-align: left; opacity: 0.7; color: grey;"
           aria-label="Text input with dropdown button" placeholder="검색어를 입력하세요" id="q">
    <button type="button" style="height: 50px;width: 70px" class="btn btn-outline-secondary" onclick="boardSearch()">
        검색
    </button>
</div>

<table class='table table-bordered' style='width: 1000px; margin: auto; text-align: center'>
    <tr>
        <th style="width: 70px; vertical-align: middle">글번호</th>
        <th style="width: 200px; vertical-align: middle">제목</th>
        <th style="width: 200px; vertical-align: middle">작성자</th>
        <th style="width: 200px; vertical-align: middle">저장일</th>
        <th style="width: 70px; vertical-align: middle">조회수</th>
    </tr>
    <tr th:each="board : ${boardList}" th:onclick="detail([[${board.getId()}]])">
        <td style="vertical-align: middle" th:text="${board.getId()}"></td>
        <td style="vertical-align: middle" th:text="${board.getBoardTitle()}"></td>
        <td style="vertical-align: middle" th:text="${board.getBoardWriter()}"></td>
        <td style="vertical-align: middle"
            th:text="*{#temporals.format(board.boardCreatedDate,'yyyy년MM월dd일 HH시mm분ss초')}"></td>
        <td style="vertical-align: middle" th:text="${board.getBoardHits()}"></td>
    </tr>

</table>
<nav aria-label="Page navigation example" style="margin-top: 10px;">
    <ul class="pagination" style="place-content: center">
        <li class="page-item" th:classappend="${1 == boardList.pageable.pageNumber + 1} ? 'disabled' : '' ">
            <a class="page-link" th:href="@{/board/search(page=${boardList.pageable.pageNumber - 1},q=${q},type=${type})}">이전</a>
        </li>
        <li class="page-item" th:classappend="${i == boardList.pageable.pageNumber + 1} ? 'active' : '' "
            th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" th:href="@{/board/search(page=${i - 1},q=${q},type=${type})}" th:text="${i}">1</a>
        </li>
        <li class="page-item"
            th:classappend="${boardList.totalPages == boardList.pageable.pageNumber + 1} ? 'disabled' : '' ">
            <a class="page-link" th:href="@{/board/search(page=${boardList.pageable.pageNumber + 1},q=${q},type=${type})}">다음</a>
        </li>
        <li style="align-self: center;margin-left: 10px">
            <input type="button" class="btn btn-outline-primary" value="글작성" onclick="boardSave()">
        </li>
    </ul>
</nav>

</body>
<script th:lnline="javascript">

    const boardSave = (id) => {
        const loginCheck = '[[${session.loginEmail}]]';
        if (loginCheck == '') {
            alert("로그인 후 이용해주세요.")
        } else {
            location.href = "/board/save-form";
        }
    }
    const detail = (id) => {
        location.href = "/board/" + id;
    }
    const boardSearch = () => {
        let type = document.getElementById("searchName").value;
        let q = document.getElementById("q").value;
        location.href="/board/search?q="+q+"&type="+type;
    }

</script>

</html>