<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <div th:if="${session.loginEmail}">
        <div>
            <div th:if="${session.loginEmail.toString().equals('admin@gmail.com')}">
                <input type="button" onclick="admin()" value="관리자용" class="btn btn-danger">
                <input type="button" onclick="mypage()" value="마이페이지" class="btn btn-secondary">
                <input type="button" onclick="memberLogOut()" value="로그아웃" class="btn btn-warning">
            </div>
            <div th:unless="${session.loginEmail.toString().equals('admin@gmail.com')}">
                <input type="button" onclick="mypage()" value="마이페이지" class="btn btn-secondary">
                <input type="button" onclick="memberLogOut()" value="로그아웃" class="btn btn-warning">
            </div>
        </div>
    </div>
    <div th:unless="${session.loginEmail}">
        <input type="button" onclick="memberSave()" value="회원가입" class="btn btn-primary">
        <input type="button" onclick="memberLogin()" value="로그인" class="btn btn-warning">
    </div>
</div>
<input type="button" onclick="boardList()" value="글목록" class="btn btn-success">
</div>

</body>
<script th:lnline="javascript">
    const memberSave = () => {
        location.href = "/member/save-form";
    }
    const memberLogin = () => {
        location.href = "/member/login-form";
    }
    const boardList = () => {
        location.href = "/board/list";
    }
    const memberLogOut = () => {
        location.href = "/member/logout";
    }
    const admin = () => {
        location.href = "/admin/";
    }
</script>
</html>